.container
{
 height: 100%;
 display: grid;  
 grid-template-rows: min-content 1fr;
 grid-template-areas: 
 'filter' 
 'list';
}


.filter 
{
 grid-area: filter;
 background-color: var(--main-color) ;
}


.list 
{
 grid-area: list;
 min-height: 0;
 overflow: hidden;
}